@model Online_Food_Ordering_System.Models.Entity.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.empName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empRole)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.empID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
